.k_tbdr{
    
    border: 1px dashed black;
}


  
  .keyboard {
    display: inline-block;
    
    padding: 10px;
    border-radius: 5px;
    
  }
  
  .k_row {
    display: flex;
    justify-content: center;
  }
  
  .key {
    width: 48px !important;
    height: 48px !important;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid lightslategray;
    
    background-color: azure;
    font-weight:bold ;
        
  }     
.key{
  transition: transform 0.2s;
}
.k_active{
  transform: scale(.9);
  border: 2px solid lightslategray;
  
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  
  
}
  
  

.l1{
  height: 22px;
  width: 22px;
  top: 80px;
  left: 212px;
  z-index: 1001;
  display:none;
}

.l2{
  height: 22px;
  width: 22px;
  top: 47px;
  left: 243px;
  z-index: 1001;
  display: none;
}
.l3{
  height: 22px;
  width: 22px;
  top: 35px;
  left: 284px;
  z-index: 1001;
  display: none;
}
.l4{
  height: 22px;
  width: 22px;
  top: 47px;
  left: 319px;
  z-index: 1001;
  display: none;
}
.l5{
  height: 22px;
  width: 22px;
  top: 129px;
  left: 361px;
  z-index: 1001;
  display: none;
}
.r1{
  height: 22px;
  width: 22px;
  top: 127px;
  left: 432px;
  z-index: 1001;
  display: none;
}
.r2{
  height: 22px;
  width: 22px;
  top: 39px;
  left: 492px;
  z-index: 1001;
  display: none;
}
.r3{
  height: 22px;
  width: 22px;
  top: 30px;
  left: 535px;
  z-index: 1001;
  display: none;
}
.r4{
  height: 22px;
  width: 22px;
  top: 47px;
  left: 576px;
  z-index: 1001;
  display: none;
}
.r5{
  height: 22px;
  width: 22px;
  top: 83px;
  left: 618px;
  z-index: 1001;
  display: none;
}
